.css-12oz5g7 {
    flex: 1 1 0%;
    width: 100%;
    padding: 6rem 1rem 10rem;
    max-width: 100%;
}

.css-91z34k {
    width: 100%;
    padding: 6rem 1rem 10rem;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 100%;
  }