.css-12oz5g7 {
    flex: 1 1 0%;
    width: 100%;
    padding: 6rem 1rem 10rem;
    max-width: 100%;
}

.css-91z34k {
    width: 100%;
    padding: 6rem 1rem 10rem;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 100%;
  }

 .css-1k67eer {
    width: 100%;
    flex: 1 1 calc(6.25% - 1rem);
}

.css-ocqkz7 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    gap: 1rem;
    flex-direction: column;
}

.e1tzin5v2{
    width: 100%;
}

p, ol, ul, dl {
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
}